:root {
  --maincolor: #063D8F;
  --subcolor: #ffffff;
  --textcolor:#333;
  --fontmain: "Montserrat";
}
*{
  margin: 0px;
  padding: 0px;
}
html,
body {

  font-family: var(--fontmain);
  
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  line-height: 1.6;
  color: #303030;
  font-weight: 500;
 

}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-weight: 700;

}

a {
  text-decoration: none;
  color: currentColor;
}

b,
strong {
  font-weight: 700;
  font-family: var(--fontmain);
  
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
}

a img {
  display: block;
}

#page {
  background: #fff;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.c,
.c5,
.c10,
.c15,
.c20,
.c30,
.c3,
.c2,
.c80 {
  clear: both;
}

.c {
  height: 0px;
}

.c3 {
  height: 3px;
}

.c4 {
  height: 4px;
}

.c5 {
  height: 5px;
}

.c10 {
  height: 10px;
}

.c15 {
  height: 15px;
}

.c20 {
  height: 20px;
}

.c30 {
  height: 30px;
}

.c50 {
  height: 50px;
}
.text-line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.text-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text-line-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.text-line-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.text-line-6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.text-line-7 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.text-line-8 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.text-line-10 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.text-line-12 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
}


.search-pc {
  display: block;

  margin-left: 10px;
}



.submit-search-pc {
  float: left;
  color: #737373;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 20px;
}
.icon-search {
  position: relative;
}
.search-pc
{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 11;  
  transition: all .5s ease-in-out;
  display: none;
  line-height: 100vh;

}
.closeX
{
  color: #FFF;
  font-weight: bold;
  position: absolute;
  top: -50px;
  
}
.search-pc .kw {
  width: 100%;
  height: 35px;
  border: solid 1px #CCC;
  padding: 0px 10px;
  outline: none;
  float: left;
  color: rgba(0, 0, 0, 0.25);

  border-radius: 25px;
  background: #FFF;
}
.search-pc ::placeholder
{
  color: rgba(0, 0, 0, 0.25);
}
.search-pc .fa {
  color: rgb(25 25 25 / 70%);
}

#searchformtab
{
  position: relative;
  text-align: center;
}

#searchformtab input{

  color: #0a0a0a;
  padding: 10px 25px 10px 30px;
  height: 100px;
  max-width: 500px;
  min-width: 500px;
  border-radius: 50px;
  border:1px solid #FFF;
  background-color: #FFF;
}
.search-icon{
  color: #FFF;
}
.search-mobile {
  width: 100%;
  position: relative;
  display: none;
}

.search-mobile input {
  width: 100%;
  height: 30px;
}

.m-search-icon {
  position: absolute;
  right: 10px;
  top: 6px;
  color: #ef5994;
}
.social-header
{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.social-header li{
  padding: 10px;
  line-height: 1 ;
}

.header {
  background: transparent;
 

  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 11;
  width: 100%;
  transition: all .5s ease-in-out;
}

header.header-fixed {
  position: fixed;
  background: #fbfbfb;
   border-bottom: 1px solid #d3d2d2;
}
.header-fixed .nav>li {
  height: 60px;
  line-height: 60px;
}

.header-fixed .logo {
  margin-top: 0px;
 max-width: 150px;
}

.logo {
      float: left;
    padding: 15px 0;
    width: 100%;
}

.logo img,
.logo-mobile img {
  display: block;
}

.logo-mobile {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.menubar {

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: centerC ;
}



.nav {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav>li {
  list-style: none;
  display: inline-block;
  position: relative;
  float: left;
  font-size: 16px;
  font-weight: normal;
  height: 65px;
  line-height: 65px;
  margin: 0px 2px;
}

.nav li:first-child {
  border-left: none;
}

.nav li:last-child {
  margin-right: 0;
}

.nav li:last-child a {
  padding-right: 0;
}

.nav>li>a {
  text-decoration: none;
  color: #404040;
  display: inherit;
  padding: 0px;
  padding: 0 8px;
  font-size: 17px;
  font-family: var(--fontmain);
  font-weight: 600;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  transition:all .5s ease-in-out
}
.nav>li>a:hover{
  color:var(--maincolor);
}
.nav>li:hover>a::before{
  width: 90%;
 
}
.nav>li.active>a::before{
  width: 90%;
  
}
.nav>li.active a
{
	 color:var(--maincolor);
}

.nav>li>a img {
  margin-right: 8px;
}

.nav li ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
  text-align: left;
  color: #0a0a0a;
  padding: 0px;
  
  z-index: 9;
  display: none;
  font-weight: normal;
  background: #FFF;
  text-transform: initial;
  border-radius: 5px;
  border-top: 3px solid var(--subcolor);
}

.nav li ul>li {
  width: 100%;
  list-style: none;
  float: left;
  text-align: left;
  border: none !important;
  text-transform: initial;
  line-height: normal;
  position: relative;
}

.nav li ul>li a {
  padding: 0px 10px;
  display: block;
  color: #232323;
  line-height: 18px;
  text-transform: initial;
  padding: 11px 10px;
  font-weight: 600;

}

.nav>li>ul>li>a:hover {
  color: var(--subcolor)!important;
}

.nav li ul ul {
  left: 100%;
  top: -1px;
}


.mega-menu {
  width: 100% !important;
  left: 0px !important;

  background: rgba(0, 0, 0, 0.8) !important;
  padding: 10px 0px !important;
}

.mega-menu-item {
  padding: 10px 0px;
  line-height: initial !important;
  border-bottom: solid 1px #0a0a0a;
  padding-left: 10px;
}

.mega-menu-item a {
  color: #fff;
}

.mega-menu-item:hover {
  background: #555;
}

.mega-menu-item-link:hover {}

.mobile-bar {
  background-color: #fff;
  width: 100%;
  padding: 3px;
}

.lang-flag {
  float: right;
  /* margin-top: 2px; */
  border: none;
  margin-left: 15px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.crumb {
	background:#f1f2f2;

  padding: 5px 0px;
  font-size: 12px;


}

.crumb-gray .crumb {
  background-color: #f5f5f5;
}

.crumb a {
  font-size: 14px;
  line-height: 24px;
  color:var(--maincolor);
  font-weight: 400;

  text-align: center;
}

.crumb a:first-child {
  padding-left: 0;
}

.crumb a:last-of-type {
  color:var(--maincolor);
  padding-left: 10px;
  font-weight: 700;
} 


/*  */

.menuleft {
  padding: 0px;
  margin: 0px;
  color: #58595b;
  background: #E5F1EE;
  border: solid 1px #eee;
}
.menuleft .title{
  background: var(--subcolor);
  color: #FFF;
  padding: 10px 15px;
  font-size: 17px;
 font-family: var(--fontmain);

 
}
.menuleft .fa {
  font-size: 10px; float: right;
}

.menuleft ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.menuleft li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  border-bottom: solid 1px #eee;
}

.menuleft li:last-child {
  border-bottom: none;
}

.menuleft li a:hover {
  color: var(--subcolor);
}

.menuleft li a {
  color: #0a0a0a;
  padding: 10px;
  width: 100%;
  display: block;
  font-size: 15px;
 font-family: var(--fontmain);

}

.menuleft>.actived {
  background: #eee;
}

.menuleft>.actived>a {
  color: #0a0a0a;
  font-family: var(--fontmain);
}

.menuleft .actived ul {
  background: #eee;
  display: block;
}

.menuleft .actived .actived a {
  color: #244294;
}

.menuleft li ul {
  margin: 0px;
  padding: 0px;
  padding-left: 35px;
  background: #eee;
  display: none;
}

.menuleft li ul li {
  padding-left: 0px;
  list-style-type: square;
}

.menuleft li ul li a {
  border-bottom: none;
  padding: 8px 0px;
  font-size: 14px;
  color: #0a0a0a;
}

.menuleft-icon {
  padding-right: 8px;
}



#button-btt {
  position: fixed;
  right: 10px;
  bottom: 70px;
  color: #0059bd;
  background: #ccc;
  padding: 10px;
  opacity: 0.8;
  z-index: 10;
}

#button-btt a {
  color: #fff;
}

.view-detail {
  display: block;
  color: #fff;
  background: #244294;
  padding: 10px 30px;
  box-shadow: 0px 0px 3px #999;
  float: left;
}





.menutab {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 2px solid #e4e4e4;
      
	      padding-bottom: 8px;
}

.menutab-item {

  
  text-align: center;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  border: 2px solid transparent;
	position:relative;

}

.menutab-item.active
{
	width:100%;
}
.menutab-item:nth-child(1)
{
padding-left: 0px;
}
.menutab-item a {
  
  font-size: 18px;
line-height: 20px;
text-transform: uppercase;
color: #474747;
font-weight: 700;
transition: all .5s ease-in;
    padding: 15px 15px;
position:relative;

}
.menutab-item a:before
{
	content:"";
	width:0%;
	height:1px;
	background:--var(maincolor);
	position:absolute;
	bottom:0px;
	left:0px;
	
}

.menutab-item.actived a:before
{
	content:"";
	width:100%;
	height:1px;
	background:--var(maincolor);
	position:absolute;
	bottom:0px;
	left:0px;
	
}



.tab-item:last-child {
  border-right: none;
}

.menutab-item:hover :before {
	width:100%
}
.menutab-item a:hover :before
.menutab .actived :before {
	width:100%

}


.tab-bar {
  /* background: #e1e1e1; */
  position: relative;
  display: flex;
  align-items: center;
}

.tab-bar-wrapper {
  padding-right: 40px;
}

.tab-title {
  margin: 0px;
  font-weight: 700;
  font-size: 16px;
  color: #484848;
  text-transform: uppercase;
  padding: 10px 0 26px;
  display: block;
  float: left;
}

.tab-title:nth-child(2) {
  padding: 10px 40px 26px;
}



.tab-active {
  position: relative;
  color: #ffa200;
}

.tab-active::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #ffa200;
  border: solid 1px #ffa200;
  left: 0;
}

.tab-bar::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #176078;
  border: solid 1px #176078;

}
#tabs-nav
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
}
#tabs-nav li{

  list-style: none;
  text-align: center;
  color: var(--subcolor);
  margin: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #FFF;
}
#tabs-nav li.active a{
  color: var(--subcolor);
 font-family: var(--fontmain);

}


/*Modal*/
.blocker
{
	z-index:111!important;
}
.modal
{
	    max-width: 100%!important;
    padding: 0px!important;
	border-radius:20px!important;
}
.modal a.close-modal, .modal-close
{
	opacity:0;
	display:none;
}
.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6) !important;
}
.modal-box {
  display: none;
  position: fixed;
  z-index: 1404040;
  width: 60%;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  max-width: 1100px;
  background: #fff;
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5px;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 {
  margin: 0;
}

.modal-box .modal-body {
  padding: 10px 20px;
}

.modal-box footer,
.modal-box .modal-footer {
  padding: 1px;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
  padding: 8px;
}

a.close {
  line-height: 1;
  font-size: 1.5px;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

.msgbox {
  color: #ccc;
}
.img-shine {
  position: relative;
  overflow: hidden;
  display: block;
}

.img-shine:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* Hover state - trigger effect */
.img-shine:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}
.error {
  border: solid 1px red!important;
}

.btn {
  padding: 8px 15px;
  color: #222;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
 
}

.btn:hover {
  background-color: #ff7e00;
  color: #fff;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
}
/* Active state */
.img-shine:active:after {
  opacity: 0;
}


.menu-mobile {
  display: block;
  float: right;
  color: #000;
  font-size: 30px;
  margin-left: auto;
}

.menu-mobile-item {
  display: block;
  float: left;
  margin-top: 5px;
  color: #fff;
  margin-left: 10px;
}

#simplePagerNav {
  display: flex;
  justify-content: center;
} 

.pagination {
  margin-bottom: 30px;
 display:flex;
 justify-content:center;
}
.page {
  display: none;
}
.pagination-item {
      text-decoration: none;
    color: #0a0a0a;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: #FFF;
    margin: 0 5px;
    border: 2px solid #b3b3b3;
  
}


.pagination-item__clicked {
  text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color:var(--maincolor);
    margin: 0 5px;
    border: 2px solid #b3b3b3;
  
}

.pagination-item-icon {
  font-size: 20px;
  font-weight: 500;
  color: #176078;
}




.ullist {
  height: 450px;
  overflow-y: scroll;
}

.ullist li h3 {
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  color: #244294;
  font-size: 16px;
}

.ullist li p {
  margin: 0px;
  padding: 5px 0px;
}

.ullist li {
  border-bottom: dashed 1px #ddd;
}

.ullist li .fa {
  display: block;
  float: left;
  width: 18px;
  margin-top: 2px;
}

#loadMoreProduct {
  display: block;
  background: #ddd;
  color: #244294;
  padding: 10px 20px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  width: 220px;
}


.form-title {
  font-family: var(--fontmain);
  font-size: 24px;
  font-weight: normal;

  text-align: center;
  width: 100%;
}


.sendmail__btn {
  background:var(--maincolor);
  text-align: center;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #FFF;
  text-transform: uppercase;
  display: block;
  font-size: 18px;
      height: 50px;
}



::placeholder {
  color: #5a5a5a;
  opacity: 1;
  /* Firefox */
}


.view-more {
  font-weight: normal;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-family: 'Muli-L';
  margin-top: 25px;
  background-color: #1d509b;
  padding: 10px 20px;
}
.line{
	border-bottom:1px solid #037c94;
}


.line-w {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.line-w span {
  display: inline-block;
  margin-right: 5px;
  background: var(--subcolor);
  background-repeat: no-repeat;
  background-size: 90% 90%;
  width: 100px;
  height: 3px;
  margin-top: 10px;
}

.line-w span:last-child {
  margin-right: 0;
}


.Tocct {
       border: 1px solidvar(--maincolor);
    margin-top: 30px;
    border-radius: 25px;
    max-width: 100%;
    padding: 25px;
    position: relative;
}
.longPageTOC {
    font-size: 20px;
    background: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.TOCShowHide.hideTOC {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #00b8ce;
}
.longPageNavigationDiv {
  padding: 10px;
 
  
  
  padding-right: 20px;
  width: 100%;
}

.longPageNavigationDiv a {
  color: #0a0a0a;
}

.longPageNavigationDiv ul {
  padding-left: 20px;
}

.longPageNavigationDiv ul li {
  list-style: none;
  padding: 2px 0px;
}

.longPageNavigationDiv ul .toc-heading3 {
  padding-left: 20px;
}

.form-group {
  padding: 10px 0px;
  border-bottom: dotted 1px #ccc;
}
.btndangnhap
{
  background-color:var(--maincolor);
color:#FFF;
padding: 8px 15px;
border-radius: 3px;
font-size: 18px;
}




/* home */
  .slidehome{
    position: relative;
  }
  .slidehome-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    color: #303030;
    animation: btom-to-top 3s ;
    animation-iteration-count: 1;
    animation-direction: reverse;
	font-size: 20px;
	color: #303030;
	font-weight: 500;
	font-family: "Bai Jamjuree";
  }
  .search-form {
    position: relative;
    padding: 30px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 1px 5px 9px #0000002e;
}
.search-mobile-bar {
  float: right;
  width: 200px;
  position: relative;
  margin-right: 10px;
  margin-top: 5px;
}

.search-mobile-bar .kw {
  width: 100%;
  height: 30px;
  border: solid 1px #eee;
  padding: 0px 10px;
  outline: none;
  float: left;
  color: #0a0a0a;
  border-radius: 25px;
  background: #fff;
}

.submit-search-mobile {
  float: right;
  color:var(--maincolor);
  font-size: 14px;
  position: absolute;
  top: 8px;
  right: 25px;
}
.header-mobile {
  background: #fff;
  border-bottom: solid 2px #2c9fcb;
}

.cart-mobile {
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
  width: 40px;
  float: right;
}

.cart-mobile span {
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 11px;
  background: #244294;
  color: #fff;
  display: block;
  padding: 1px 4px;
  border-radius: 50%;
}

.kw-mobile {
  width: 94%;
  height: 30px;
  border: none;
  border-radius: 20px;
  margin: 0px 10px;
  margin-bottom: 0px;
  color: #0a0a0a;
  padding-left: 5px;
}

.mobile-footer-bar {
  position: fixed;
  bottom: 0px;
  padding: 5px;
  width: 100%;
  background: #fff;
  box-shadow: 0px -1px 3px #244294;
  z-index: 9999;
}
 .btn-xemthem
 {
  text-align: center;
  padding:10px 25px;


  background-color:var(--maincolor);
  font-size: 20px;
line-height: 20px;
color: #ffffff;
font-weight: 500;
font-family: "Bai Jamjuree";
 }
 .btn-all
 {
	 text-align: center;
  padding:10px 25px;



  font-size: 20px;
line-height: 20px;
color: #030303;
border:1px solidvar(--maincolor);
font-weight: 500;
font-family: "Bai Jamjuree";
 }

.slidehome-content h1{
  font-size: 38px;
  text-transform: uppercase;
  color:var(--maincolor);
  font-weight: 700;
  font-family: var(--fontmain);
}

.search-form input::placeholder
{
  color: #909090;
  font-family: var(--fontmain);
  font-size:18px;
  height:50px;
}
.search-form input{
border:none;
outline: none;
font-weight: 500;
margin-bottom: 0px;
padding-left:35px!important;

  font-family: var(--fontmain);

}
.search-form .search-icon--input{
	color:#909090;
}
.search-form select{
  outline: none;
  width: 100%;
  font-family: var(--fontmain);
  font-weight: 500;
  height: 50px;
  border-radius: 5px;
  border:1px solid #a0a0a0;
  font-size:20px;
}
input:focus-visible, select:focus-visible{
  border:1px solid #a0a0a0
}
.btn-search
{
  background:var(--maincolor);
  color: #FFF;
  width: 100%;
  padding: 12px;
max-width: 200px;
  height: 50px;
  text-align: center;
  font-size:20px;
  line-height: 1.4;
}

 
  .homecat-title{
	font-size: 30px;

	color:#030303;
	font-weight: 500;
	font-family: "Montserrat";
	text-align: center;
    position: relative;
  
    margin: 0px;
  }
 
  .homecat-intro
  {
    margin: auto;
    text-align: center;
    max-width: 800px;
  }
  .pagecat-title{
    text-align: left;
    color: #282828;
   font-family: var(--fontmain);


    position: relative;
    font-size: 35px;
    text-transform: uppercase;
    margin: 0px;
    line-height: 1.3;
  }

  .homecat-title a, .pagecat-title a {
    color: currentColor;
  }
  

.menu-footer {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 10px 0px;
}

.menu-footer a {
  font-size: 16px;
  color: #FFF;
  margin-right: 20px;
  text-decoration: none;
}

.footer {
  background-color: #494949;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  color: #FFF;
}


.footer a {
  color: #FFF;
}
.text-center{
  margin: auto;
  text-align: center;
}

.footer-title .i {
  float: right;
  margin-top: 3px;
  font-size: 14px;
  display: none;
  transition: 0.5s;
  color: #FFF;
}

.footer-block {
  padding-left: 0px;
  margin-top: 20px;
}
.footer-logo
{
  padding: 30px 0px;
}
.footer-block .info
{
 
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    /* margin-bottom: 10px; */
    line-height: 2;
}
.footer-block .info i
{
  margin-right: 10px;
}
.footer-social
{
  display: flex;
  align-items: center;
  justify-content: flex-start;

}
.footer-social li{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #FFF;
  line-height: 40px;
  margin: 10px;
}
.menuboxfooter
{
  padding: 0px;
  list-style-type: none;
  font-size:16px
}
.menuboxfooter li{
  margin-bottom: 5px;
}
.menuboxfooter a{
  color: #FFF;
  transition: all .5s ease-in;
}
.footer-title {
  font-size: 17px;
  color: #FFF;
  font-family: var(--fontmain);;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.menuboxfooter a:hover{
  color: var(--subcolor);
}
.footer-copyright {
  color: #fff;
  font-size: 14px;
  text-align: left;
  line-height: 40px;
  border-top: 1px solidvar(--maincolor);
}
.star-rate{
  background: url(/images/starrate.png) right top no-repeat;
     height: 30px;
  width: 100%;
background-size: auto;
}
.rate1
{
	 background-position-y: -116px;
}
 .rate2{
  background-position-y: -86px;
}
.rate3{
  background-position-y: -58px;
}
.rate4{
  background-position-y: -30px;
}
.rate5{
  background-position-y: 0px;
}
.img-poster
{
  position: relative;
}
.img-poster img {
  display: block;
}
.poster-content {
  position: absolute;
  width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
}
/* home */
.homeservice-item-name{
  text-align: center;
  font-size: 18px;
  transition: all .5s ease-in;
  padding-top: 15px;
}
.homeservice-item-name:hover{
  color: var(--maincolor);
}
.homeservice-item
{
  margin-bottom: 20px;
  position: relative;
}
.homeservice-item-img{
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all .5s ease-in-out;
}
.homeservice-item:hover .homeservice-item-img img{
  transition: all 1s ease-in-out;
  transform: scale(1.1);
}
.homeservice-item-img img{
  transition: all 1s ease-in-out;
  transform: scale(1);
}
.homeservice-name
{
  font-size: 28px;
  font-weight: 600;
}
.homeservice-more
{
  text-transform: uppercase;
  font-size: 24px;
  transition: all .5s ease;
  font-weight: 600;
}
.homeservice-more:hover{
  color: var(--maincolor);
}
.homeservice-desc
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 15px;
  width: 100%;
}
.homenumber-item
{
  text-align: center;
}
.homenumber-item--name
{
  padding-top: 10px;
  font-size: 20px;
  font-weight: 600;
}
.homenumber-item--ico
{
  font-size: 50px;
  color: var(--maincolor);
}
.homenumber-item .intro{
  color: #999999;
  font-size: 16px ;
}
.form_contact input, .form_contact textarea
{
  width: 100%;
  padding: 15px 0px;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid #888888;
  outline: none;
  font-family: var(--fontmain);
  font-size: 18px;
  font-weight: 500;
}
.form_contact input::placeholder, .form_contact textarea::placeholder{
  font-family: var(--fontmain);
  font-size: 18px;

}
.btn-contact
{
  max-width: 200px;
  margin: auto;
  background-color: #FFF;
  border: 1px solid #f3f3f3;
  padding: 0px;
}
.btn-contact input
{
  background-color: #FFF;
  border: 1px solid #9e9e9e;
  text-transform: uppercase;
  font-weight: 500;
  color: #6c6c6c;
}
.icon-search {
  position: relative;
  text-align: right;
}
.search-pc {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 11;
  transition: all .5s ease-in-out;
  display: none;
  line-height: 100vh;
}


#searchformtab input {
    color: #0a0a0a;
    padding: 10px 25px 10px 30px;
    height: 100px;
    max-width: 500px;
    min-width: 500px;
    border-radius: 50px;
    border: 1px solid #FFF;
    background-color: #FFF;
}
.closeX {
  color: #FFF;
  font-weight: bold;
  position: absolute;
  top: -50px;
}
.icon-search i{
  color: #333;
}