<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">
    <head>

        <meta charset="utf-8"/>
        <title>CÔNG TY CỔ PHẦN RELINES GLOBAL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes"/>
        <meta name="theme-color" content="#0099ff"/>
        <meta http-equiv="Content-Language" content="VN" />
        <meta name="description" content="CÔNG TY CỔ PHẦN RELINES GLOBAL" />
        <meta name="keywords" content="" />
        <meta property="og:url" name="og:url" content="https://relines.24h.co/" data-app/>
        <meta property="og:type" name="og:type" content="website" data-app/>
        <meta property="og:description" name="og:description" content="CÔNG TY CỔ PHẦN RELINES GLOBAL" data-app/>
        <meta property="og:title" name="og:title" content="CÔNG TY CỔ PHẦN RELINES GLOBAL" data-app/>

        <meta property="og:image" name="og:image" content="https://relines.24h.co/uploaded/logo/logo.png" data-app>
        <meta property="og:image:alt" name="og:image:alt" content="https://relines.24h.co/uploaded/logo/logo.png" data-app>
        


        <link href="/favicon.ico" rel="shortcut icon" />

        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,600;1,700&display=swap" rel="stylesheet"/>

        <!-- <link rel="stylesheet" type="text/css" href="/css/font.css" /> -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css" />

        <script src="/js/script.js"></script>

        

        


    </head>
    <body>




<div id="page">


    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
        
        <div class="flex-container align-center">
            <div class="cell-1-5">
              <div class="logo">
                <a href="/">
                  <img src="/uploaded/logo/logo.png" alt="LogoSite"
                    style="max-width:100%; margin:0 auto"></a>
                </div>
            </div>
           <div class="cell-4-5">
            <div class="menubar">
              <ul class="nav  hide-on-mobile">
              <li class=" active "> <a href="/" class=""><span style="background-image:url()">việc làm siêu tốc       
              </li>

              <li class=" "> <a href="/" class=""><span style="background-image:url()"> Du học                       </span></a>
                  <ul class="submnu1" style="display: none;">
                    <li class=""><a href="/phat-trien-dien-nang/">Về chúng tôi</a>
                    </li>
                    <li class=""><a href="/dau-tu-bat-dong-san/">Lịch sử hình thành</a>
                   
                    </li>
                </ul>
              </li>
              
              <li class=" "> <a href="/linh-vuc-hoat-dong/" class=""><span style="background-image:url()">  Nhà tuyển dụng          </span></a>
              </span></a>
              
              
              
              
                  <ul class="submnu1" style="display: none;">
                      <li class=""><a href="/phat-trien-dien-nang/">Thi công nội thất chung cư</a>
                      </li>
                      <li class=""><a href="/dau-tu-bat-dong-san/">Thi công nội thất nhà phố </a>
                      </li>
                      <li class=""><a href="/dich-vu-khach-san/">Thi công nội thất biệt thự</a>
                      </li>
                      <li class=""><a href="/dich-vu-khach-san/">Thi công nội thất văn phòng</a>
                      </li>
                  </ul>
                  
                  
                  
              </li>
              <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">      GIỚI THIỆU             </span></a>       
                  
               
              </li>
              <li class=" "> <a href="/tin-tuc-su-kien/" class=""><span style="background-image:url()">  Cẩm nang      </span></a>
              
              
              </li>
            
            
              </ul>
              <div class="btn btndangnhap">
                  <a href="#dangnhap">Đăng nhập</a> &#10072; <a href="#">Đăng ký</a>
              </div>
           </div>
           

           

          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/Logo_full 1.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
            
                <div class="icon-search search-mb" >
                  <i class="fa fa-search search-iconmb" aria-hidden="true"></i>
                    <div class="frm-search-mb" style="">
                     <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" class="kw-mobile" placeholder="Tìm kiếm " type="text">
                        <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                          <i class="fa fa-search" aria-hidden="true"></i> </a>
  
                        <a href="#" class="closeX" onClick="$('.frm-search-mb').hide(); return false;">&#10005;</a>        
                      </form>
                    </div> 
                    
                    <script>
                      $(document).ready(function () {
                      $(".search-iconmb").click(function () {
                        $(".frm-search-mb").stop().slideToggle("fast");
                        return false;
                      });
                      });
                    </script>  	
                   </div>
               
            </div>
            </div>
        </div>
        <div class="c"></div>
    </div>

    </header>
    <!-- content -->
    <div class="content" style="background-color: #F4F4F4;">
      
      <!-- slideshow -->
        <div class="img-poster" style="position:relative">
                <a class="" href="">
                <img class="" src="/uploaded/slideshow/gioithieu.png" alt="" style="width: 100%" />
                </a>
        </div>
  
        </div>
   
    <div class="c"></div>

 
<!-- footer -->
<footer class="footer" style="" >

    <div class="c30"></div>
    <div class="footer-main">
        <div class="grid">

            <div class="flex-container">
                <div class="cell-1-4 tab-cell-1-1">
                    <div class="c30"></div>
                    <a href="#">
                        <img src="/uploaded/logo/logo.png" alt="">
                    </a>
                    <div class="c30"></div>
                    <p class="footer-title" style="font-size:15px; text-align:center">CÔNG TY CỔ PHẦN RELINES GLOBAL</p>
                    <div class="c10"></div>
                    <ul class="footer-social">

                        <li class="facebook  hvr-float">
                            <a href="https://www.facebook.com/hocbongvnu" class="footer-social__item">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="youtube  hvr-float">
                            <a href="#" class="footer-social__item">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>

                        <li class="instagram  hvr-float">
                            <a href="" class="footer-social__item">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>

                    </ul>

                </div>
                <div class="cell-1-4 tab-cell-1-1">


                    <div class="footer-block">
                        <div class="footer-title footer-title-mobile menuboxfooter" rel="ct">
                            Liên hệ
                        </div>

                        <div class="info">Trụ sở: Số 14-16, ng&otilde; 254 Đường Bưởi,&nbsp;P. Cống Vị Quận Ba Đ&igrave;nh, H&agrave; Nội</div>

<div class="info"><b>Điện thoại:</b> 0869 066 288</div>

<div class="info"><b>Email:&nbsp;</b>info@relinesglobal.com</div>


                    </div>



                </div>
                <div class="cell-1-4 tab-cell-1-1">
                    <div class="footer-block">



                        <ul class="menuboxfooter" id="boxcol5">
                            <li><a href="/gioi-thieu-chung/"> Giới thiệu chung</a></li>
                            <li><a href="/tam-nhin-chien-luoc/"> Tầm nhìn chiến lược </a></li>
                            <li><a href="/gia-tri-cot-loi/"> Giá trị cốt lõi</a></li>
                        </ul>
                        <div class="c10"></div>

                    </div>

                </div>

                <div class="footer-block">
                    <div class="footer-title menuboxfooter" rel="ct">
                        Đăng ký nhận tin
                    </div>
                    <div class="c10"> </div>
                    <form action="" method="post" class="sendmail__frm">

                        <input type="text" name="newsletter" class="sendmail__input" placeholder="Email của bạn">

                        <button type="submit" name="addnewsletter" value="save" class="sendmail__btn">
                            Đăng Ký
                        </button>
                    </form>

                </div>


            </div>
            <div class="c20"></div>
            <div class="footer-copyright">
                <div class="grid">
                    <div class="flex-container">
                        <div class="cell-1-4">
                            <div class="txt-copy">Copyright © 2023 Relines </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</footer>
<!-- end footer -->
<script>
    $('.modal-toggle').on('click', function (e) {
        e.preventDefault();
        $('.modal').toggleClass('is-visible');
    });
</script>

<div class="modal" id="dangnhap">

    <div class="modal-wrapper modal-transition">

        <button class="modal-close modal-toggle"><i class="fas fa-times"></i></button>   
        <div class="modal-body">
            <div class="modal-content form-dathen">
                <div class="dangky-modal">
                    <div class="flex-container">


                        <div class="cell-dangky-1-2">
                            <div class="dangky-left">
                                <div class="dangky-left__top">
                                    <h2 class="title-dangky">
                                        Đăng ký tài khoản miễn phí
                                    </h2>
                                    <div class="c20"></div>
                                    <div class="" style="font-size: 20px;">Tạo tài khoản để quản lý và khám phá các cơ hội việc làm</div>
                                </div>


                                <div class="dangky-left-bottom">
                                    <div class="">
                                        Đã có tài khoản?
                                    </div>
                                    <div class="c20"></div>
                                    <a href="/login/" class="btn-dangnhapngay">Đăng nhập ngay</a>
                                </div>
                            </div>
                        </div>
                        <div class="cell-dangky-2-3">
						

                            <form action="/index4.php?page=member_signup" method="post" id="frm_signup" enctype="multipart/form-data" onSubmit="return check_frm_signup();">
                                <input type="hidden" name="code" value="save">     

                                <div class="frm-dangky">
                                    <div class="c20"></div>
                                    <div class="intro">Điền đầy đủ thông tin vào form dưới đây để đăng ký tài khoản </div>
                                    <div class="c10"></div>
                                    <div class="flex-container">
                                        
                                        <div class="cell-1-1 tab-cell-1-1">
                                            <input name="yourname" type="text" class="txt-contact notNull" placeholder="Họ tên*">
                                        </div> 
                                        <div class="cell-1-1 tab-cell-1-1">
                                            <input name="phone" type="text" class="txt-contact notNull" placeholder="Điện thoại*">
                                        </div>
                                        <div class="cell-1-1 tab-cell-1-1">
                                            <input type="text" class="txt-contact notNull" name="email" id="email"  placeholder="Email" />
                                        </div>
                                        <div class="cell-1-1 tab-cell-1-1">
                                            <input type="text" class="txt-contact" name="username" id="username"  placeholder="Tên đăng nhập (số điện thoại)">
											<em style="font-size: 13px;" id="validemail"></em>
                                        </div>
                                        <div class="cell-1-1 tab-cell-1-1">
                                            <input name="password" type="password" id="password" class="txt-contact notNull" placeholder="Mật khẩu">
                                        </div>
                                        
                                        <div class="cell-1-1 tab-cell-1-1">
                                            <input type="password" name="re_password" id="re_password"  class="txt-contact notNull" placeholder="Nhập lại mật khẩu" >
                                        </div>
                                        
                                        <div class="cell-1-1">
                                            <div class="line-frm flex-container flex-space-between align-center">

                                                <div class="title-frm-reg">Loại tài khoản </div>


                                                <input type="radio" id="ungvien" name="member_type" value="1" >
                                                <label for="ungvien">Ứng viên</label>
                                                <input type="radio" id="ctv" name="member_type" value="2">
                                                <label for="ctv"> Cộng tác viên</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="c30"></div>

                                    <a  class="btn-reg" href="#" onclick="$('#frm_signup').submit(); return false;">Đăng ký</a>

                                </div>

                            </form>

                            <script>
                                $('#frm_signup #username').change(function () {
                                    var emailtocheck;
                                    emailtocheck = $(this).val();

                                    if (emailtocheck == "")
                                        return;

                                    $.ajax({
                                        type: "POST",
                                        url: '/index4.php?page=member_signup&code=phoneck&e=' + emailtocheck,
                                        data: "1",
                                        success: function (data) {

                                            var returnCode = data;

                                            if (returnCode == -2) {
                                                $('#validemail').html("Tên đăng nhập <strong> " + emailtocheck + " </strong> đã tồn tại!");
                                                $('#username').val('');
                                                $('#validemail').show();
                                            } else if (returnCode == 1) {
                                                $('#validemail').html("<span style='color:#00904c;'>Tên đăng nhập " + emailtocheck + " có thể sử dụng ! </div> ");
                                                $('#validemail').show();
                                            } else {
                                                $('#validemail').html("Tên đăng nhập <strong> " + emailtocheck + " </strong> không hợp lệ!");
                                                $('#validemail').show();
                                                $('#username').val('');
                                            }
                                        }
                                    });
                                });


                                function check_frm_signup() {
                                    ok = true;
                                    $('.error_msg_box').hide();
                                    $('#frm_signup .error').removeClass("error");
                                    $('#frm_signup .notNull').each(function () {
                                        if ($(this).val() == '') {
                                            $(this).addClass("error");
                                            ok = false;
                                        }
                                    });

                                    if ($("#frm_signup #password").val() != $("#frm_signup #re_password").val()) {
                                        $("#frm_signup #re_password").addClass("error");
                                        ok = false;
                                    }

                                    if ($("#frm_signup #email").val() != '') {
                                        checkEmail = $('#frm_signup #email').val();
                                        if ((checkEmail.indexOf('@') < 0) || ((checkEmail.charAt(checkEmail.length - 4) != '.') && (checkEmail.charAt(checkEmail.length - 3) != '.'))) {

                                            $("#frm_signup #email").addClass("error");

                                            ok = false;
                                        } else {
                                            $("#frm_signup #email").text("");
                                        }
                                    }

                                    if (ok == true) {
                                        $('#frm_signup').ajaxSubmit({
                                            beforeSubmit: function (a, f, o) {
                                                $('#frm_signup').fadeTo('fast', 0.3);
                                                $('.waiting').show();
                                                o.dataType = 'html';
                                            },
                                            success: function (data) {
                                                $('#frm_signup').fadeTo('fast', 1);
                                                $('.waiting').hide();

                                                var strReturn = data;
                                                if (strReturn == 1) {
                                                    $('#frm_signup')[0].reset();
                                                    
													
													$(".blocker").remove();
													$(".modal-box, .modal-overlay").fadeOut(500, function () {
														$(".modal-overlay").remove();
													});													
													$("#dangnhap").fadeOut();
													alert('Bạn đã đăng ký thành công, vui lòng liên hệ với Quản trị viên để kích hoạt tài khoản');
													
                                                } else if (strReturn == -1) {
                                                    alert('Mã captcha không đúng');
                                                } else if (strReturn == -2) {
                                                    alert('Thành viên đã tồn tại');
                                                } else {
                                                    alert(data);
                                                }

                                                clearForm: false;
                                                $('.imgCaptcha').attr("src", '/lib/imagesercurity.php?recaptcha=y');
                                            }

                                        });

                                    } else {
                                        $('.error_msg_box').show();
                                    }

                                    return false;
                                }

                            </script>	                            


                        </div>
                        <div class="cell-dangky-3-4">
                            <div class="login-social">

                                <div class="" style="width: 100%;">
                                    <b>  Hoặc đăng ký bằng</b>
                                    <div class="c30"></div>
                                    <div class="btn-dangkymail">
                                        <a href="#" class="">
                                            <img src="/images/gmail.png" alt=""> Gmail
                                        </a>
                                    </div>

                                    <div class="c10"></div>
                                    <div class="btn-dangkyfb">
                                        <a href="#" class="">
                                            <img src="/images/facebook-lg.png" alt="">  Facebook
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                </div>



            </div>


        </div>
    </div>	

</div>

<!--<script>
    $(function () {

        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

        $('a[data-modal-id]').click(function (e) {
            e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            var modalBox = $(this).attr('data-modal-id');
            $('#' + modalBox).fadeIn($(this).data());
        });

        $(".js-modal-close, .modal-overlay").click(function () {
            $(".modal-box, .modal-overlay").fadeOut(500, function () {
                $(".modal-overlay").remove();
            });
            return false;
        });

        $(window).resize(function () {
            $(".modal-box").css({
                top: ($(window).height() - $(".modal-box").outerHeight()) / 2 - 80,
                left: ($(window).width() - $(".modal-box").outerWidth()) / 2
            });
        });
        $(window).resize();
    });
</script>-->

<script>
		$(".js-modal-close, .modal-overlay").click(function () {
            $(".modal-box, .modal-overlay").fadeOut(500, function () {
                $(".modal-overlay").remove();
            });
            return false;
        });
</script>

</div>
</div>


<link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
<!-- <link rel="stylesheet" href="/css/jquery-ui.css" />

<script src="/js/jquery-ui.min.js"></script>-->
<script src="/js/jquery.form.min.js"></script>
<script src="/js/jquery.mmenu.min.all.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"  ></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<link rel="stylesheet" href="/css/hover.css" />



<div id="button-btt">
    <a href="#"><i class="fa fa-chevron-up"></i> </a>
</div>
<div class="modal" id="ungtuyen">

    <div class="modal-wrapper modal-transition">

        <button class="modal-close modal-toggle"><i class="fas fa-times"></i></button>   
        <div class="modal-body">
            <div class="modal-content form-dathen">
                <div class="ungtuyen-modal">
						
							
                            <form action="/index4.php?page=cart&lang=" method="post" id="frm_ungtuyenngay" enctype="multipart/form-data" data-alert="Bạn cần nhập đủ thông tin vào những trường màu đỏ" data-captcha ="Mã captcha không đúng" data-success="Thông tin liên hệ đã được gửi thành công !" data-redirect="/contact-success/">
                                
								<input type="hidden" name="code" value="save">     
								
								<input type="hidden" name="ten_sp" id="ten_sp" >     
								<input type="hidden" name="tb_sp" id="tb_sp" >     
								<input type="hidden" name="id_sp" id="id_sp" >     

                                <div class="frm-ungtuyen">
                                   
                                    <h2 class="title-page">Điền đầy đủ thông tin vào form dưới đây để ứng tuyển </h2>
                                  <div class="c30"> </div>
								
										<div class="cell-1-1 tab-cell-1-1">
											<div class="line-frm flex-container flex-flex-start align-center ">
												
													<div class="title-frm-reg">Họ tên </div>
												
													<div class="txt-ungtuyen"><input class="txt-contact txt notNull" name="yourname" type="text"></div>
												
											</div>
											<div class="c10"> </div>
										</div>
									
									
								
									<div class="cell-1-2 tab-cell-1-1">
										
											<div class="line-frm flex-container flex-flex-start align-center">
												<div class="title-frm-reg"> Ngày sinh </div>
											
												<div class="txt-ungtuyen"><input class="hasDatepicker txt-contact txt notNull" name="ngaysinh" type="text"></div>
											</div>
										<div class="c10"> </div>
									</div>
									
									<div class="cell-1-2 tab-cell-1-1">
										<div class="line-frm flex-container flex-flex-start align-center">

											<div class="title-frm-reg"> Giới tính </div>

											<input type="radio"  checked="" name="gioitinh" value="M">
											<label for="male">Nam</label>
											<input type="radio" name="gioitinh" value="F">
											<label for="female">Nữ</label>
										</div>
										<div class="c10"> </div>
									</div>
									
									
									<div class="cell-1-1 tab-cell-1-1">
										<div class="line-frm flex-container flex-flex-start align-center">
											
												<div class="title-frm-reg">Địa chỉ </div>
											
												<div class="txt-ungtuyen">
													<input class="txt-contact txt notNull" name="tinhthanh" type="text" placeholder="Tỉnh/TP">
												</div>

												<div class="txt-ungtuyen">
													<input class="txt-contact txt notNull" name="quanhuyen" type="text"  placeholder="Quận/huyện">
												</div>
											
												<div class="">
													<input class="txt-contact txt notNull" name="xaphuong" type="text"  placeholder="Xã/Phường">
												</div>
											
										</div>
										<div class="c10"> </div>
									</div>
									
									<div class="cell-1-2 tab-cell-1-1">
										<div class="line-frm flex-container flex-flex-start align-center">
											
												<div class="title-frm-reg"> Điện thoại </div>
											
												<div class="txt-ungtuyen"><input class="txt-contact txt notNull" name="telephone" type="text"></div>
											
										</div>
										<div class="c10"> </div>
									</div>
									
									<div class="cell-1-2 tab-cell-1-1">
										<div class="line-frm flex-container flex-flex-start align-center">
										<div class="title-frm-reg">Email </div>
									
										<div class="txt-ungtuyen">
											<input class="txt-contact txt notNull" name="email" type="text"></div>
										<div class="c10"> </div>
									</div>
								
								</div>
							</div>

								</div>
								<div class="c30"> </div>
                                    <a  class="btn-reg" href="#" onclick="$('#frm_ungtuyenngay').submit(); return false;">Ứng tuyển</a>

                                </div>

                            </form>
                           


						
                   
                    
                </div>



            </div>


        </div>
    

<script>

	$(function () {
		$('a[data-modal]').on('click', function () {
			$($(this).data('modal')).modal({
				fadeDuration: 250
			});
			return false;
		});
	});

</script>
<script>
    function check_newsletter() {
        ok = true;
        $('#newsletterForm .error').removeClass('error');
        $('#newsletterForm .notNull').each(function () {
            if ($(this).val() == '') {
                $(this).addClass('error');
                ok = false;
            }
        }
        );
        return ok;
    }

    $(function () {
        $('.countcart').html('(0)');
    });
</script>














<nav id="menu">

    <ul>

        <li>

            <form action="/search/" method="get" id="m_searchform">
                <input name="qr" class="kw-mobile" placeholder="" type="text">
                <a href="#" class="fa fa-search submit-search-mobile" onClick="$('#m_searchform').submit();
                        return false;"> </a>
            </form>


        </li>

        <li><a class="" href="/viec-lam-sieu-toc/">Việc làm siêu tốc</a>




        </li>
        <li><a class="" href="/du-hoc/">Tìm trường siêu tốc</a>




        </li>
        <li><a class="" href="/nha-tuyen-dung/">Nhà tuyển dụng</a>




        </li>
        <li><a class="" href="/cam-nang/">Cẩm nang</a>


            <ul>

                <li><a  href="/cam-nang-du-hoc/">Du học</a>

                </li>
                <li><a  href="/ky-su/">Kỹ sư</a>

                </li>
                <li><a  href="/thuc-tap-sinh/">Thực tập sinh</a>

                </li>
                <li><a  href="/lao-dong-nuoc-ngoai/">Lao động nước ngoài</a>

                </li>
                <li><a  href="/tap-doan/">Tập đoàn</a>

                </li>

            </ul>


        </li>
        <li><a class="" href="/lien-he/">Liên hệ</a>




        </li>
    </ul>
</nav>















<script>
    intervalsubiz = setInterval(getAsyncJS, 7000);

    function getAsyncJS() {
        clearInterval(intervalsubiz);
        $.getScript("/js/fbchat.js")
                .done(function (script, textStatus) {
                    console.log(textStatus);

                })
                .fail(function (jqxhr, settings, exception) {
                    $("div.log").text("Triggered ajaxError handler.");
                });

    }
	
	

</script>

<link rel="stylesheet" href="/css/widget-call.css" />



</body>



<!----
☺☺☺ Design by Minh Nguyen. Email nguyensyminh@gmail.com - Hotline : 0968 67 55 68 ☺☺☺
---->

</html>